<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input type="text" name='Name'>
    <input type="text" name='Class'>
    <input type="text" name='Specialization'>
    <input type="checkbox" name="Status">
    <button><a href="index.ejs">Submit</a></button>
  </body>
</html>
